# Panda
## Import Panda

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Object Creation

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101',periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.rand(6,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.365469  0.826383  0.191819  0.074007
2013-01-02  0.644070  0.231246  0.372791  0.076707
2013-01-03  0.747344  0.034276  0.130940  0.972049
2013-01-04  0.850898  0.985482  0.621962  0.980492
2013-01-05  0.530477  0.307644  0.872298  0.691305
2013-01-06  0.539050  0.834271  0.646100  0.287870

In [16]:
print (type(dates))
print (type(df))
print (df.dtypes)

<class 'pandas.tseries.index.DatetimeIndex'>
<class 'pandas.core.frame.DataFrame'>
A    float64
B    float64
C    float64
D    float64
dtype: object

In [23]:
df2 = pd.DataFrame({'A':1,
                    'B':pd.Timestamp('20130102'),
                    'C':np.array([3] * 4 , dtype='int32'),
                    'E':pd.Categorical(["test","train","test","train"]),
                    'F':'foo'
                   })
df2

   A          B  C      E    F
0  1 2013-01-02  3   test  foo
1  1 2013-01-02  3  train  foo
2  1 2013-01-02  3   test  foo
3  1 2013-01-02  3  train  foo

In [25]:
df2.dtypes

A             int64
B    datetime64[ns]
C             int32
E          category
F            object
dtype: object

# Viewing Data

In [52]:
df2.head(1)

   A          B  C     E    F
0  1 2013-01-02  3  test  foo

In [53]:
df2.tail(2)

   A          B  C      E    F
2  1 2013-01-02  3   test  foo
3  1 2013-01-02  3  train  foo

In [54]:
df2.index

RangeIndex(start=0, stop=4, step=1)

In [55]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [60]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [57]:
df.values

array([[ 0.36546935,  0.82638302,  0.19181903,  0.0740074 ],
       [ 0.64406969,  0.23124572,  0.37279123,  0.07670666],
       [ 0.7473444 ,  0.03427576,  0.1309395 ,  0.97204878],
       [ 0.85089754,  0.98548214,  0.6219625 ,  0.98049184],
       [ 0.5304769 ,  0.30764421,  0.87229752,  0.69130454],
       [ 0.53904981,  0.83427109,  0.64610036,  0.28787031]])

In [61]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.612885  0.536550  0.472652  0.513738
std    0.172719  0.392955  0.289033  0.423040
min    0.365469  0.034276  0.130940  0.074007
25%    0.532620  0.250345  0.237062  0.129498
50%    0.591560  0.567014  0.497377  0.489587
75%    0.721526  0.832299  0.640066  0.901863
max    0.850898  0.985482  0.872298  0.980492

In [62]:
df

                   A         B         C         D
2013-01-01  0.365469  0.826383  0.191819  0.074007
2013-01-02  0.644070  0.231246  0.372791  0.076707
2013-01-03  0.747344  0.034276  0.130940  0.972049
2013-01-04  0.850898  0.985482  0.621962  0.980492
2013-01-05  0.530477  0.307644  0.872298  0.691305
2013-01-06  0.539050  0.834271  0.646100  0.287870

In [63]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.365469    0.644070    0.747344    0.850898    0.530477    0.539050
B    0.826383    0.231246    0.034276    0.985482    0.307644    0.834271
C    0.191819    0.372791    0.130940    0.621962    0.872298    0.646100
D    0.074007    0.076707    0.972049    0.980492    0.691305    0.287870

In [65]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01  0.074007  0.191819  0.826383  0.365469
2013-01-02  0.076707  0.372791  0.231246  0.644070
2013-01-03  0.972049  0.130940  0.034276  0.747344
2013-01-04  0.980492  0.621962  0.985482  0.850898
2013-01-05  0.691305  0.872298  0.307644  0.530477
2013-01-06  0.287870  0.646100  0.834271  0.539050

In [67]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2013-01-06  0.539050  0.834271  0.646100  0.287870
2013-01-05  0.530477  0.307644  0.872298  0.691305
2013-01-04  0.850898  0.985482  0.621962  0.980492
2013-01-03  0.747344  0.034276  0.130940  0.972049
2013-01-02  0.644070  0.231246  0.372791  0.076707
2013-01-01  0.365469  0.826383  0.191819  0.074007

In [69]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  0.747344  0.034276  0.130940  0.972049
2013-01-02  0.644070  0.231246  0.372791  0.076707
2013-01-05  0.530477  0.307644  0.872298  0.691305
2013-01-01  0.365469  0.826383  0.191819  0.074007
2013-01-06  0.539050  0.834271  0.646100  0.287870
2013-01-04  0.850898  0.985482  0.621962  0.980492

In [70]:
df

                   A         B         C         D
2013-01-01  0.365469  0.826383  0.191819  0.074007
2013-01-02  0.644070  0.231246  0.372791  0.076707
2013-01-03  0.747344  0.034276  0.130940  0.972049
2013-01-04  0.850898  0.985482  0.621962  0.980492
2013-01-05  0.530477  0.307644  0.872298  0.691305
2013-01-06  0.539050  0.834271  0.646100  0.287870

# Selection

In [81]:
df2.A

0    1
1    1
2    1
3    1
Name: A, dtype: int64

In [72]:
df2['A']

0    1
1    1
2    1
3    1
Name: A, dtype: int64

In [74]:
df2[0:3]

   A          B  C      E    F
0  1 2013-01-02  3   test  foo
1  1 2013-01-02  3  train  foo
2  1 2013-01-02  3   test  foo

In [78]:
df2[0:1]

   A          B  C     E    F
0  1 2013-01-02  3  test  foo

In [84]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.644070  0.231246  0.372791  0.076707
2013-01-03  0.747344  0.034276  0.130940  0.972049
2013-01-04  0.850898  0.985482  0.621962  0.980492

In [85]:
df

                   A         B         C         D
2013-01-01  0.365469  0.826383  0.191819  0.074007
2013-01-02  0.644070  0.231246  0.372791  0.076707
2013-01-03  0.747344  0.034276  0.130940  0.972049
2013-01-04  0.850898  0.985482  0.621962  0.980492
2013-01-05  0.530477  0.307644  0.872298  0.691305
2013-01-06  0.539050  0.834271  0.646100  0.287870

In [90]:
df.loc[dates[1]] # only with index values

A    0.644070
B    0.231246
C    0.372791
D    0.076707
Name: 2013-01-02 00:00:00, dtype: float64

In [95]:
df.loc[:,['A','D']]

                   A         D
2013-01-01  0.365469  0.074007
2013-01-02  0.644070  0.076707
2013-01-03  0.747344  0.972049
2013-01-04  0.850898  0.980492
2013-01-05  0.530477  0.691305
2013-01-06  0.539050  0.287870

In [101]:
df.loc[dates[0]:dates[2],['A']]

                   A
2013-01-01  0.365469
2013-01-02  0.644070
2013-01-03  0.747344

In [105]:
df.loc[df.index[0],'A']

0.36546935449423168

In [108]:
df.A[0]

0.36546935449423168

# Selection by position